/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
 --color-marcon-red: #c73a38;
 --color-navy: #273240;
 --color-black: #212529;
 --color-grey: #f7f7f7;
 --color-white: #ffffff;
 --color-medium-grey: #e8e8e8;
 --color-o-connor-green: #255c50;
 --color-o-connor-dark-green: #0f241f;
}
